#projects-container {
   display: block;
   margin: auto;
   align-items: center;
   text-align: center;
   color: black;
   width: 60%;
   border: 1px solid white;
   margin-top: 40px;
   background-color: rgba(255, 255, 255, 0.41);
   border-radius: 15px;
   backdrop-filter: blur(4px);
   box-shadow: 1px 8px 30px rgba(0, 0, 0, 0.5);
   /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
}

#projects-content {
   margin: auto;
   width: fit-content;
}

ul {
   list-style: none;
   display: inline-flex;
   flex-wrap: wrap;
   flex-direction: column;
   /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

li > img {
   width: 10%;
}