nav > a {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-flex;
  color: rgb(0, 0, 0);
  margin-top: 1%;
  /* margin-right: 15px; */
  background-color: rgba(255, 255, 255, 0.285);
  /* border-radius: 15px; */
  backdrop-filter: blur(4px);
  box-shadow: 1px 8px 30px rgba(0, 0, 0, 0.5);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: 0.1s ease-in-out;
}

nav > a:hover {
  background-color: rgb(232, 165, 255);
  color: white;
  backdrop-filter: blur(4px);
  cursor: pointer;
}

@media only screen and (max-width: 389px) {
  nav > a {
    text-decoration: none;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-flex;
    color: rgb(0, 0, 0);
    margin-top: 1%;
  }
}
